@page "/courses"
@rendermode InteractiveWebAssembly

@using LMS.Blazor.Client.Services
@using LMS.Shared.DTOs
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

@attribute [Authorize]

<h1>Getting courses</h1>


<button class="btn btn-primary" @onclick="CallAPIAsync">GetCourses</button>
<button class="btn btn-primary" @onclick="CreateCourseAsync">PostCourse</button>


@if (demo == null)
{
    <p>API not called yet</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in demo)
            {
                <tr>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

<AuthorizeView Roles="Admin">
    <Authorized>
        <p>Hej auth user</p>
    </Authorized>
</AuthorizeView>

@if(courseDto is null)
{
    <p>No value</p>
}
else
{
    <h4>After post</h4>
    <p>Id:   @courseDto?.Id</p>
    <p>Name: @courseDto?.Name</p>
}



@code {

    [Inject]
    private IApiService _apiService { get; set; } = default!;
    [Inject]
    private AuthenticationStateProvider AuthenticationStateProvider { get; set; } = default!;

    private List<CourseDto>? demo;
    private CourseDto? courseDto;

    private async Task CallAPIAsync()
    {
        demo = (await _apiService.GetAsync<IEnumerable<CourseDto>>("api/courses"))?.ToList() ?? [];
    } 

    private async Task CreateCourseAsync()
    {
        var dto = new CourseDto { Id = 1, Name = "Created at blazor" };
        courseDto = (await _apiService.PostAsync<CourseDto, CourseDto>("api/courses", dto));
    }
}
